<h1> Survey Details </h1>
<div class="container-fluid">
  <div>
    <label> <b> First Name: </b> {{ student.firstName }}</label>
  </div>
  <div>
    <label> <b> Last Name: </b> {{ student.lastName }}</label>
  </div>
  <div>
    <label> <b> Street Address: </b> {{ student.streetAddress }}</label>
  </div>
  <div>
    <label> <b> city:</b>  {{ student.city }}</label>
  </div>
  <div>
    <label> <b> state: </b> {{ student.state }}</label>
  </div>
  <div>
    <label> <b> Zip Code: </b> {{student.zipCode}}</label>
  </div>
  <div>
    <label> <b> Phone Number: </b> {{student.telephone}}</label>
  </div>
  <div>
    <label> <b> Email ID: </b> {{student.emailId}}</label>
  </div>
  <div>
    <label> <b> Most liked about the University: </b> {{student.mostLiked}}</label>
  </div>
  <div>
    <label> <b> What casued interest in University: </b> {{student.interest}}</label>
  </div>
  <div>
    <label> <b> How likely is the person to recommend this University: </b> {{student.recommend}}</label>
  </div>
  <div>
    <label> <b> Additional Comments: </b> {{student.comment}}</label>
  </div>
</div>
